.day-forecast {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    li {
      list-style: none;

      img {
        max-width: 29px;
      }

      p {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        
        &:last-child {
          margin-top: 5px;
        }
      }
    }
  }
}