.next-hours-forecast {
  max-height: 180px;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 15px 15px 0 0;

  background-color: white;
  overflow: scroll;

  > p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  ul {
    
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      list-style: none;

      p {
        width: 40px;
        font-size: 16px;
        text-align: center;
      }

      img {
        max-width: 32px;
      }
    }
  }
}